<main>
  <section id="intro-container">
    <article id="intro-main">
      <div>
        <h1><%= t("app.description") %></h1>
        <button>Getting started</button>
      </div>
    </article>
    <article>
      <div>
        <h4>What we provide</h4>
        <p><%= t("app.service_description") %></p>
      </div>
    </article>
  </section>
</main>
