#group-search-results {
  margin: 30px 0 0 20px;

}

.items {
}
.item {
  .header {
    display: inline-block;
    width: 400px;
    font-size: 20px; 
  }

  .action {
    display: inline-block;
  }
}
