@import "colors";

.devise-form-wrapper {
  width: 400px;
  margin: 40px auto 0 auto;

  h2 {
    text-align: center;
    font-size: 46px;
    color: $main-color;

    a {
      color: $main-color;
    }
  }

  h3 {
    text-align: center;
  }

  .form .submit {
    margin-top: 10px;
  }

  & > a {
    display: block;
    margin-top: 10px;
  }
}

#app-name {
  font-size: 20px;
  padding: 4px;
  margin: 0 0 0 30px;
  h1 {
    margin: 6px;
    a {
      color: $main-color;
    }
  }
}

#signout-link {
  color: #222;
  vertical-align: middle;
  font-size: 14px;
  margin: 18px 10px;

  &:hover {
    text-decoration: underline;
  }
}

.gravatar-photo {
  border-radius: 50%;
}

#user-info-container {
  text-align: center;
  background-color: #121212;
  color: #FFFFFF;
  min-height: 700px;
}

#gravatar-wrapper {
  margin: 0 auto;

  a {
    overflow: auto;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }
}

#user-details-container {

  h3 {
    text-align: center;
  }
}

#group-search-wrapper {
  width: 220px;
  display: inline-block;
}
