<div class="ui grid">
  <div class="three wide column" id="user-info-container">
    <div id="gravatar-wrapper">
      <%= gravatar_for current_user, size: 80 %>
    </div>
    <div id="user-details-container">
      <h3><%= current_user.fullname %></h3>
    </div>
  </div>
  <div class="thirteen wide column">
    <%= yield %>
  </div>
</div>
