<div class="ui secondary pointing menu">
  <div href="#" class="header item">
    <%= image_tag("TEST.jpg", class: "logo")%>
    Goalie
  </div>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
